<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Carro</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
    </style>
</head>
<body>
    <h1>Actualizar Carro</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Actualizar</button>
    </form>

    <br>
    <a href="{% url 'listar_carros' %}">Volver a la lista de Carros</a>
    <br>
    <a href="{% url 'home' %}">Regresar a Home</a>
</body>
</html>
